body{
    background-color: rgb(244, 182, 111);
}
a{
    color: white;
    padding: 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
h1{
   text-align: center; 
   font-family: 'Times New Roman', Times, serif;

} 
img{
    width: 300px;
}

#active{
    background-color: bisque;
    color: black;
}
.blue{
    background-color: bisque;
}