body{
    background-color: rgb(244, 182, 111);
    margin: 0;
    padding: 0;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav, footer{
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;

}
nav a{
    text-decoration: none;
}

a{
    color: black;
    padding: 25px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

a:hover{
    background-color: rgb(244, 182, 111);
    color: white;
}

h1{
   text-align: center;
   font-family: 'Times New Roman', Times, serif;

} 

img{
    width: 300px;
    display: block;
    margin: 0 auto;
    /* 0 is the space up and down, 
    auto is for the space on the left and right*/
}

#active{
    background-color: bisque;
    color: black;
}
.blue{
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;

}


p a{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.25em;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    text-decoration: none;
}


footer p {
    color: black;
}